<a href="https://colab.research.google.com/github/jdy5294/coding-test/blob/main/%EC%BD%94%EB%94%A9_%ED%85%8C%EC%8A%A4%ED%8A%B8%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 시간과 메모리 측정

In [1]:
import time

start_time = time.time()
end_time = time.time()
print('time: ', end_time - start_time)

time:  2.7418136596679688e-05

## 자료형

### 리스트 자료형

#### 리스트 컴프리헨션

In [2]:
# n x m 크기의 2차원 리스트 초기화
n = 3
m = 4
array = [[0] * m for _ in range(n)]
array

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

#### 리스트 관련 method

In [5]:
a = [1,4,3]

a.append(2)
print('삽입:', a)

a.sort()
print('오름차순 정렬:', a)

a.reverse()
print('원소 뒤집기:', a)

a.insert(2, 3)
print('인덱스 2에 3 추가:', a)

print('값이 3인 데이터 개수:', a.count(3))

a.remove(1)
print('값이 1인 데이터 삭제:', a)

삽입: [1, 4, 3, 2]
오름차순 정렬: [1, 2, 3, 4]
원소 뒤집기: [4, 3, 2, 1]
인덱스 2에 3 추가: [4, 3, 3, 2, 1]
값이 3인 데이터 개수: 2
값이 1인 데이터 삭제: [4, 3, 3, 2]

In [6]:
# 특정한 값의 원소 모두 제거
a = [1,2,3,4,5,5,5]
remove_set = {3,5}

result = [i for i in a if i not in remove_set]
result

[1, 2, 4]

### 사전 자료형

In [7]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

#### 사전 자료형 관련 함수

In [8]:
key_list = data.keys()
value_list = data.values()

print(key_list)
print(value_list)

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])

### 집합 자료형

In [9]:
data = {1,1,2,3,4,4,5}
print(data)

{1, 2, 3, 4, 5}

#### 집합 자료형의 연산

In [10]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

print('합집합:',a|b)
print('교집합:',a&b)
print('차집합:',a-b)

합집합: {1, 2, 3, 4, 5, 6, 7}
교집합: {3, 4, 5}
차집합: {1, 2}

#### 집합 자료형 관련 함수

In [11]:
data = {1,2,3}

data.add(4)
print('원소 추가:',data)

data.update([5,6])
print('여러개 원소 추가:', data)

data.remove(3)
print('원소 삭제:', data)

원소 추가: {1, 2, 3, 4}
여러개 원소 추가: {1, 2, 3, 4, 5, 6}
원소 삭제: {1, 2, 4, 5, 6}

## 함수 (람다 표현식)

In [12]:
print((lambda a, b: a + b)(3,7))

10

## 입출력

### 변수 입력

In [14]:
# 데이터의 개수 입력
n = int(input())
print(n)

3
3

In [15]:
# 각 데이터를 공백으로 구분하여 입력
data = list(map(int, input().split()))

data.sort(reverse=True)
print(data)

65 90 75 34 99
[99, 90, 75, 65, 34]

In [16]:
# n,m,k를 공백으로 구분하여 입력
n, m, k = map(int, input().split())

print(n, m, k)

3 5 7
3 5 7

### sys 라이브러리

- input() 함수는 시간 초과로 오답 판정을 받을 수 있음
- readline()은 입력 후 엔터가 줄바꿈기호로 입력, 이 공백문자를 제거하기 위해 rstrip()함수 사용

In [21]:
import sys

data = sys.stdin.readline().rstrip()
print(data)

## 주요 라이브러리의 문법과 유의점

### itertools

In [25]:
from itertools import permutations, combinations, product, combinations_with_replacement

data = ['A','B','C']

result = list(permutations(data, 3))
print('모든 순열 구하기:', result)

result = list(combinations(data, 2))
print('2개 뽑는 모든 조합 구하기:', result)

result = list(product(data, repeat=2))
print('2개 뽑는 모든 순열 구하기(중복 허용):', result)

result = list(combinations_with_replacement(data, 2))
print('2개 뽑는 모든 조합 구하기:', result)

모든 순열 구하기: [('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]
2개 뽑는 모든 조합 구하기: [('A', 'B'), ('A', 'C'), ('B', 'C')]
2개 뽑는 모든 순열 구하기(중복 허용): [('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]
2개 뽑는 모든 조합 구하기: [('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]

### heapq

In [27]:
import heapq

def heapsort(iterable):
  h = []
  result = []
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable:
    heapq.heappush(h, value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for _ in range(len(h)):
    result.append(heapq.heappop(h))

  return result

data = [1,3,5,7,9,2,4,6,8,0]
heapsort(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
# 내림차순 힙 정렬
def heapsort(iterable):
  h = []
  result = []
  # 모든 원소를 차례대로 힙에 삽입
  for value in iterable:
    heapq.heappush(h, -value)
  # 힙에 삽입된 모든 원소를 차례대로 꺼내어 담기
  for _ in range(len(h)):
    result.append(-heapq.heappop(h))

  return result

data = [1,3,5,7,9,2,4,6,8,0]
heapsort(data)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### bisect

- bisect_left(a, x): 정렬된 순서를 유지하면서 리스트 a에 데이터 x를 삽입할 가장 왼쪽 인덱스를 찾음

- bisect_right(a, x): 정렬된 순서를 유지하면서 리스트 a에 데이터 x를 삽입할 가장 오른쪽 인덱스를 찾음

In [29]:
from bisect import bisect_left, bisect_right

a = [1,2,4,4,8]

print(bisect_left(a, 4))
print(bisect_right(a, 4))

2
4

In [30]:
def count_by_range(a, left_value, right_value):
  right_index = bisect_right(a, right_value)
  left_index = bisect_left(a, left_value)
  return right_index - left_index

a = [1,2,3,3,3,3,4,4,8,9]

# 값이 4인 데이터 개수 출력
print(count_by_range(a, 4, 4))

# 값이 [-1,3] 범위에 있는 데이터 개수 출력
print(count_by_range(a, -1, 3))

2
6

### collections

In [32]:
from collections import deque

data = deque([2,3,4])
print(data)

data.appendleft(1)
data.append(5)

print(data)
print(list(data)) # 리스트 자료형 변환

data.popleft()
data.popleft()
data.pop()
print(data)

deque([2, 3, 4])
deque([1, 2, 3, 4, 5])
[1, 2, 3, 4, 5]
deque([3, 4])

In [33]:
from collections import Counter

counter = Counter(['red','blue','red','green','blue','blue'])

print(counter['blue']) # 'blue'가 등장한 횟수 출력
print(counter['red']) # 'red'가 등장한 횟수 출력
print(counter['green']) # 'green'이 등장한 횟수 출력

3
2
1

### math

In [35]:
import math

print('21과 14의 최대공약수:', math.gcd(21,14))
print('파이:', math.pi)
print('자연상수 e:', math.e)

21과 14의 최대공약수: 7
파이: 3.141592653589793
자연상수 e: 2.718281828459045